.textarea {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 2px 12px;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  max-height: 400px;  
  background-color: #398695;
  color: white;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
